@font-face {
    font-family: cocoLight;
    src: url(assets/fonts/CocogooseClassic-Light.otf);
}
@font-face {
    font-family: cocoExtra;
    src: url(assets/fonts/CocogooseClassic-ExtraBold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: cocoLight;
    font-weight: 100;

}

/* GENERALES */
.callToAction{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px ;
    font-weight: 900;
    background-color: rgb(181, 212, 59);
    color: #fff;
    cursor: pointer;
}

.callToAction2{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: solid 2px white;
    font-size: 16px ;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}

.titulo{
    font-size: 16px;
    color: #989898;
    margin-bottom: 30px;
    font-weight: 800;
}

p{
    font-family: Roboto;
    font-weight: 300;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 300ms;
    color: white;
}

.container-header{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px 0px;
}

.container-nav button{
    display: none;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 120px;
}
.logo-negro{
    display: none;
}
.logo-negro-mobile{
    display: none;
}

nav{
    height:100%;
    
}
.container-nav{
    position: relative;
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-left: 20px;
    list-style-type: none;
    font-size: 12px;
    
}

nav ul li a{
    color: inherit;
    font-weight: 900;
    letter-spacing: 2px;
}

.navIg i{
    color: #6B8801;
}

.nav-btn{
    display: none;
}
.navIg{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 4px;
}
.nav-logo-mobile{
    display: none;
}


.nav-change{
    background-color: #F7F7F7;
    color: #333333;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    height: 50px;
}

/* PORTADA */

.container-info{
    background-image:url(assets/img/Clmedia.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container-flex{
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1600px;
}

.info{
    margin-top: 100px;
    max-width: 350px;
    color: #fff;
    width: 50%;
}
.info-50{
    width: 50%;
}

.info h1{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}

.info h1 span{
    font-family: cocoExtra;
}

.info p{
    margin-bottom: 25px;
}

.info .callToAction2{
    margin-left: 20px;
}

/* SERVICIOS */


.servicios-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 110px auto;
}

.container-servicios h3{
    font-size: 50px;
    margin-bottom: 30px;
}
.container-servicios h3 span{
    font-family: cocoExtra;
    font-weight: 700;
    color: #6B8801; 
}

.servicio-info{
    max-width: 300px;
}
.servicio-info p{
    margin-bottom: 30px;
}
.servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.servicio-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servicio-box{
    width: 130px;
    height: 130px;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.servicio-box img {
    width: 50px;
    margin-bottom: 20px;
}

.servicio-box h2 {
    font-size: 16px;
    text-align: center;
    color:#989898 ;
    font-weight: 900;
}

/* PASOS */
.pasos-container{
    width: 100%;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;;
    
}
.pasos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    width: 1600px;
}

.paso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;

}

.paso img{
    margin-bottom: 20px;
}
.paso p{
    font-weight: 400;

}
.paso h2{
    font-family:cocoExtra ;
}
.paso h3{
    font-size: 16px;
    font-weight: 800;
}

/* PORTAFOLIO */
.container-portafolio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portafolio{
    width: 1600px;

}
.portafolio-titulo{
    margin: 50px 0;
    margin-left: 9.5%;
}
.portafolio-titulo h3{
   font-size: 50px;
}
.portafolio-titulo span{
    font-family: cocoExtra;
    font-weight: 700;
    color:#6B8801; 
}

.portafolio-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.portafolio-card{
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 0;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    transition: all 0.3s;
    overflow: hidden;
}
.portafolio-img{
    width: 100%;
    height: 200px;
}

.portafolio-card:hover{
    box-shadow: 0px 32px 44px -12px rgba(3, 8, 20, 0.406);
   }

.card-titulo{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #f6f6f6;
    padding: 20px 0;
    font-family: cocoExtra;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: -10px;
    color: #333333;
}


/* EQUIPO*/
.container-equipo{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap:wrap ;
    margin: 100px 0;
}

.equipo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;

}

.equipo-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
    padding: 20px;

}
.equipo-box h4{
    margin-top: 5px;
}
.equipo-img{
    width: 140px;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    border-radius: 95px;   
}

.equipo-box h2{
    font-size: 16px ;
    font-weight: 900;
    color: #6B8801;
    margin-top: 20px;
    letter-spacing: 2px;
}
.equipo-box h4{
    color: #989898;
}
.equipo-icons{
    margin-top: 15px; 
}
.equipo-icon{
    font-size: 24px;  
    margin: 5px;
    color:#A4A4A8;
}


.equipo-info{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipo-texto{
    max-width: 500px;
}
.equipo-info p{
    margin-bottom: 30px;
}
.equipo-info h3{
    font-size: 50px;
    margin-bottom: 30px;
}

.equipo-info span{
    font-family: cocoExtra;
    font-weight: 300;
    color: #6B8801; 
}

/*CONTACTO*/
.container-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height:600px;
}

.container-contacto h3{
    font-size: 50px;
}
.contacto-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contacto-img{
    width: 50%;
    background-image: url(assets/img/cesar-contacto\ 1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto-info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.contacto-info h3{
    margin-bottom: 30px;
}

.contacto-info h3 span{
    font-family: cocoExtra;
    color: #6B8801;
}

.contacto-icon i{
    font-size: 22px;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    background-color: #333333;
    color: #E2E2E2;
    font-size: 18px;
    line-height: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-weight: 900;
}

footer h4{
    color: #6B8801;
}
.footer-info{
    margin: 20px;
}
.footer-info a{
    display: flex;
    color: #F7F7F7;
    height: 35px;
    align-items: center;
}

.footer-icon{
    margin-right: 10px;
    font-size: 35px;
    color: #6B8801;
    text-align: center;
}
.contacto-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copy{
    text-align: center;
    height: 25px;
    padding-bottom: 20px;
    color: #E2E2E2;
    background-color: #333333;
}

@media only screen and (max-width: 768px) {
     /*header*/
    .container-header{
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    
    .logo img{
        width: 120px;
    }


    nav{
      position: fixed;
      top: 0;
      right: -265px;
      background-color: #E2E2E2;
      width: 250px;
      height: 100vh;
      padding: 40px;
      z-index: 1;
      color: #333333;
      transition: all 300ms;
    }

    nav ul {
        flex-direction: column;
        font-size: large;
        align-items: flex-start;
        width: 100%;
        justify-content: flex-start;
        margin-top: 50px;
    }
    .navIg{
        margin-left: 0;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul a{
        margin-left: 0;
        font-weight: 900;
    }
    .container-nav button{
        display: inline;
        border: none;
        background-color: #F7F7F7;
    }
    .nav-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        height: 100%;
    }

    .nav-logo-mobile{
        display: block;
        width: 100px;
    }

    .logo-negro{
        display: none;
    }
    .logo-blanco{
        display: none;
    }
    #logo-blanco{
        display: none !important;
    }
    #logo-negro{
        display: none !important;
    }
    .logo-negro-mobile{
        display: inline;
    }

    .info{
        text-align: center;
        margin:auto;
    }

    #black-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    /*porada*/
    header{
        height: 50px;
        background-color: #FFFFFF;
    }
    .container-flex{
        width: 100%;
    }
    .info{
        margin-top: 100px;
        width: 100%;
        padding: 8px;
    }

    /*servicio*/
    .servicios{
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .servicios-flex{
        width: 100%;
        flex-direction: column-reverse;
    }
    .container-servicios{
        flex-direction: column-reverse;
    }
    .servicio-info{
        text-align: center;
        margin-bottom: 30px;
    }
    .servicio-info h3{
        margin-bottom: 30px;
    }
    .servicio-3{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .servicio-box{
        width: 110px;
    }
    .servicio-box img{
        width: 40px;
    }
    /*pasos*/
    .pasos{
        width: 100%;
    }
    /* PORTAFOLIO */
    .portafolio{
        width: 100%;
    
    }
    /*equipo*/
    .container-equipo {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .equipo-info{
        margin-bottom: 50px;
    }
    /*PASOS*/
    .pasos{
        padding: 50px 0;
    }
    .paso{
        margin-top: 40px;
    }
    .portafolio-card img {
        width: 305px;
        height: 149px;
        object-fit: cover;
    }

    .portafolio-titulo {
        margin-right: 10%;
        margin-bottom: 50px;
        text-align: center;
  }

  .equipo-info{
    text-align: center;
    width: 90%;
  }

   /*portafoio*/
   .portafolio-card{
    margin-top: 70px;
    width: 350px;
   }

  .portafolio-card img{
    width: inherit;
    height: auto;
  }
  .container-contacto{
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

  .contacto-info{
    text-align: center;
    margin: auto;
    align-items: center;
}


.contacto-img{
    display: none;
}
footer{
    text-align: center;
}
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

}