@font-face {
    font-family: cocoLight;
    src: url(assets/fonts/CocogooseClassic-Light.otf);
}
@font-face {
    font-family: cocoExtra;
    src: url(assets/fonts/CocogooseClassic-ExtraBold.otf);
}
@font-face {
    font-family: cocoBold;
    src: url(assets/fonts/CocogooseClassic-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: cocoLight;
    font-weight: 100;
}

/* GENERALES */
.callToAction{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px ;
    font-weight: 900;
    background-color:#6B8801;
    color: #f6f6f6;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    cursor: pointer;
    transition: 0.4s;
}
.callToAction:hover{
    background-color:#6b8801b8;

}

.callToAction2{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: solid 2px #989898;
    font-size: 16px ;
    font-weight: 900;
    background-color: #f6f6f6;
    cursor: pointer;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    transition: 0.4s;
}

.callToAction2:hover{
    font-weight: 900;
    background-color:#6B8801;
    color: #fff;
    border: none;

}

.callToAction3{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px ;
    font-weight: 900;
    cursor: pointer;
    transition: 0.4s;
    background-color: #6b880100;
    color: #f6f6f6;
    letter-spacing: 2px;
    margin-left: 20px;
}

.callToAction3:hover{
    font-weight: 900;
    color: #fff;
    border: none;

}

.lang-button{
    width: 55px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    padding-top: 2px;
    margin-top: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    font-size: 16px;
    color: #989898;
    margin-bottom: 30px;
    font-weight: 800;
}

p{
    font-family: Roboto;
    font-weight: 300;
}

h2{
    margin-bottom: 25px;
    letter-spacing: 2px;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #6B8801;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}
/* HEADER */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 300ms;
    color: white;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    z-index: 2;
}

.header-post{
    width: 100%;
    height: 55px;
    position: fixed;    
    top: 0;
    right: 0;
    transition: all 300ms;
    color: #333333;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    background-color: #f2f2f2;

}




.container-header{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px 0px;
}

.container-nav button{
    display: none;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 120px;
}
.logo-negro{
    display: none;
}
.logo-negro-mobile{
    display: none;
}

nav{
    height:100%;
    
}
.container-nav{
    position: relative;
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-left: 20px;
    list-style-type: none;
    font-size: 12px;
    
}

nav ul li a{
    color: inherit;
    font-weight: 900;
    letter-spacing: 2px;
}

.navIg i{
    color: rgb(181, 212, 59);
}

.nav-btn{
    display: none;
}
.navIg{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 4px;
}
.check-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.check-flex input{
 margin-top: -9px;
 margin-left: 12px;
}

.check-flex span {
    font-size: 12px;
    margin-left: 3px;
    font-weight: 900;
}

.check{
    font-size: 10px;
    color: #F6F6F6;
    position: relative;
    width: 50px;
    align-items: center;
    
}
.check:before{
    content: '';
    position: absolute;
    width: 45px;
    height: 20px;
    background: #fff;
    border-radius: 25px;

}

.check:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #6B8801;
    border-radius: 25px;
    border: 1.5px solid #989898;
    box-sizing: border-box;
    transition: 2s;

}

.check:checked::after{
    left: 25px;
    border: 2px solid #A4A4A8;
}


.nav-logo-mobile{
    display: none;
}


.nav-change{
    background-color: #F7F7F7;
    color: #333333;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    height: 50px;
}

/* PORTADA */

.container-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.container-flex{
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1600px;
}

.info{
    margin-top: 100px;
    max-width: 350px;
    color: #fff;
    width: 50%;
    z-index: 1;
}
.info-50{
    width: 50%;
}

.info h1{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
    color: #F6F6F6;
}

.info h1 span{
    font-family: cocoExtra;
}

.info p{
    margin-bottom: 25px;
}

.info .callToAction2{
    margin-left: 20px;
}


.info-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit:cover;
    z-index: -10;
}
.video-dark{
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8334220651151085) 37%, rgba(0,212,255,0) 100%);
    width: 100%;
    height: 100%;
}

/* SERVICIOS */


.servicios-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 110px auto;
}

.container-servicios h3{
    font-size: 50px;
    margin-bottom: 30px;
}
.container-servicios h3 span{
    font-family: cocoExtra;
    font-weight: 700;
    color: #6B8801; 
}

.servicio-info{
    max-width: 350px;
}
.servicio-info p{
    margin-bottom: 30px;
}
.servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.servicio-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.servicio-box{
    width: 140px;
    height: 140px;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    background: #FFFFFF;
    border-radius: 4px;
}


.servicio-box span{
    font-size: 50px;
    color: #989898;
    transition: 0.3s;
}

.servicio-box span:hover{
    color: #6B8801;
}



.servicio-box h2 {
    font-size: 16px;
    text-align: center;
    color:#989898 ;
    font-weight: 900;
}


/* PASOS */

.pasos-container{
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;;
    
}
.pasos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    width: 1600px;
}

.paso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;

}
.paso i{
    font-size: 35px;
    color: #6B8801;
    text-align: center;
}
.paso img{
    margin-bottom: 20px;
}
.paso p{
    font-weight: 400;

}
.paso h2{
    font-family:cocoExtra ;
    margin: 0;
}
.paso h3{
    font-size: 16px;
    font-weight: 800;
}

/* PORTAFOLIO */
.container-portafolio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.portafolio{
    width: 1400px;
    margin-top: 100px;
}

.portafolio h3{
 text-align: center;
}
.portafolio-titulo{
    margin-top: 40px;
    margin-left: 9.5%;

}
.portafolio-titulo h3{
   font-size: 50px;
   
}
.portafolio-titulo span{
    font-family: cocoExtra;
    font-weight: 700;
    color:#6B8801; 
}
.portafolio-titulo-seccion{
    font-family: cocoExtra;
    font-size: 14px;
    letter-spacing: 2px;
}
.portafolio-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.portafolio-card{
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 0;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 8px;
}
.portafolio-card h2{
    margin: 0;
}
.portafolio-img{
    width: 100%;
    height: auto;
}

.portafolio-card:hover{
    box-shadow: 0px 32px 44px -12px rgba(3, 8, 20, 0.406);
   }

.card-titulo{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #f6f6f6;
    padding: 20px 0;
    font-family: cocoExtra;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: -10px;
    color: #333333;
}


/* EQUIPO*/
.container-equipo{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap:wrap ;
    margin: 100px 0;
}

.equipo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;

}

.equipo-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
    padding: 20px;
}
.equipo-box h4{
    margin-top: 5px;
}
.equipo-img{
    width: 160px;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    border-radius: 70px;   
}

.equipo-box h2{
    font-size: 16px ;
    font-weight: 900;
    color: #6B8801;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.equipo-box h4{
    color: #989898;
}
.equipo-icons{
    margin-top: 15px; 
}
.equipo-icon{
    font-size: 24px;  
    margin: 5px;
    color:#A4A4A8;
}


.equipo-info{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipo-texto{
    max-width: 500px;
}
.equipo-info p{
    margin-bottom: 30px;
}
.equipo-info h3{
    font-size: 50px;
    margin-bottom: 30px;
}

.equipo-info span{
    font-family: cocoExtra;
    font-weight: 300;
    color: #6B8801; 
}

/*CONTACTO*/
.container-contacto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.container-contacto h3{
    font-size: 50px;
}
.container-contacto p{
    margin-top: 30px;
}
.contacto-info h3 span{
    font-family: cocoExtra;
    color: #6B8801;
}
.contacto-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1600px;
}

.contacto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 6%;
    width: 50%;
}


.contacto-info a{
    margin-top: 30px;
}





.contacto-icon i{
    font-size: 22px;
}

.contacto-img{
    background-image: url("assets/img/portada.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    background-position: center center;
}

 /*FLEX SLIDER*/
 .swiper2{
    display: none;
  }
.swiper1{
    height: 60vh;
    width: 1200px;
}

.swiper-button-next{
    color: #6B8801 !important;
}
.swiper-button-prev{
    color: #6B8801 !important;
}
.swiper-pagination-bullet{
    background: #6B8801 !important;
}
 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .card{
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 40px -12px rgba(16, 24, 40, 0.14);
 }
 .card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
 }

 .card-info h3{
    text-align: center;
    padding: 18px;
    letter-spacing: 0.2em;
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 900;
    font-family: cocoExtra ;
 }

 /*Proyectos*/
 .proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 100vh;
    width: 1200px;

 }

 .proyecto-titulo{
    margin-top: 100px;
 }
 .proyecto-titulo H2{
    font-size: 14px;
    font-weight: 300;
    font-family: cocoExtra;
 }

 .proyecto-titulo H3{
    font-weight: 300;
    font-family: cocoBold;
 }
 .proyecto-titulo H4{
    margin-top: 30px;
    font-size: 14px;
    color: #333333;
    font-family: cocoExtra;
    letter-spacing: 2px;
 }



.proyecto-ume{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    width: 1200px;
    margin:  100px auto;

}
 .proyecto-cesar{
    background-image: url(./assets/img/macCesar.webp);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100vh;
 }
 .proyecto-daniela{
    background-image: url(./assets/img/macDaniela.webp);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100vh;
 }

 .proyecto-podi{
    background-image: url(./assets/img/macPodi.webp);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100vh;
 }
 .proyecto-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
 }
 .proyecto-50{
    width: 50%;
 }
 .proyecto-info{
    width: 50%;
    margin-top: -100px;
 }

 .proyecto-info p{
    margin-bottom: 30px;

 }
 .proyecto-img img{
    width: 300px;
 }

 .img-gallery-daniela img{
    width: 300px !important;
    margin: 20px;
 }

 .proyecto-imgs{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
 }

 .proyecto-imgs-daniela{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
 }

.img-gallery-daniela-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto-imgs img{
    width: inherit;
    margin: auto;
}

.img-gallery{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.img-gallery img{
    width: 33%;
    overflow: hidden;
}


 .proyecto-video-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
 }

.proyecto-video-mobile{
    display: none;
}

.video-section{
    margin-bottom: 200px;
}
/*podi*/
.linea{
    margin: 60px;
    height: 1px;
    width: 80%;
    background-color:#333333;
  }
.proyecto-imgs-podi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.img-gallery-podi-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
}


.img-gallery-podi-flex img{
    width: 50%;
}

.podi-brochures-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    margin-top: 60px;
}

.podi-brochures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    margin: 30px;
}

.brochure-img{
    width: 600px;
}

.brochure-img img{
    margin: 0 30px;
    width: 500px;
    box-shadow: 0px 43.1698px 86.3396px -16.1887px rgba(16, 24, 40, 0.14);
}

.brochure-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.podiDesk{
    width: 100%;
    margin: 100px 0;
}

/*priscila*/
.proyecto-priscila{
    width: 1200px;
    margin: 100px auto;

}
.proyecto-priscila2{
    width: 1200px;
    margin: -130px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proyecto-priscila2 img{
    width: 82%;
    margin-bottom: 40px;
}
.proyecto-priscila img{
    width: 100%;
    margin-bottom: -100px;
}
/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    background-color: #333333;
    color: #E2E2E2;
    font-size: 18px;
    line-height: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-weight: 900;
}

footer h4{
    color: #6B8801;
}
.footer-info{
    margin: 20px;
}
.footer-info a{
    display: flex;
    color: #F7F7F7;
    height: 35px;
    align-items: center;
}

.footer-icon{
    margin-right: 10px;
    font-size: 22px;
    color: #6B8801;
    text-align: center;
}
.contacto-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copy{
    text-align: center;
    height: 25px;
    padding-bottom: 20px;
    color: #E2E2E2;
    background-color: #333333;
}



@media only screen and (max-width: 768px) {
     /*header*/
    .container-header{
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    
    .logo img{
        width: 120px;
    }


    nav{
      position: fixed;
      top: 0;
      right: -265px;
      background-color: #E2E2E2;
      width: 250px;
      height: 100vh;
      padding: 40px;
      z-index: 1;
      color: #333333;
      transition: all 300ms;
    }

    nav ul {
        flex-direction: column;
        font-size: large;
        align-items: flex-start;
        width: 100%;
        justify-content: flex-start;
        margin-top: 50px;
    }
    .navIg{
        margin-left: 0;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul a{
        margin-left: 0;
        font-weight: 900;
    }
    
    .container-nav button{
        display: inline;
        border: none;
        background-color: #f7f7f700;
    }
    .nav-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        height: 100%;
        color: #333333;
        background-color: #ffffff00;
    }

    .nav-logo-mobile{
        display: block;
        width: 100px;
    }

    .logo-negro{
        display: none;
    }
    .logo-blanco{
        display: none;
    }
    #logo-blanco{
        display: none !important;
    }
    #logo-negro{
        display: none !important;
    }
    .logo-negro-mobile{
        display: inline;
    }

    .container-flex{
        flex-direction: column;
        align-items: center;
    }
    .info{
        text-align: center;

    }
    .info-50{
        display: none;
    }

    #black-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    /*porada*/
    header{
        height: 50px;
        background-color: #FFFFFF;
    }
    .container-info{
        height: 100vh;
    }
    .container-flex{
        width: 100%;
    }
    .info{
        margin-top: 100px;
        width: 100%;
        padding: 8px;
    }
    .video-dark{
        background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.5028898522299545) 37%, rgba(0,0,0,0.5000887317817753) 100%);
    }

    /*servicio*/
    .servicios{
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .servicios-flex{
        width: 100%;
        flex-direction: column-reverse;
    }
    .container-servicios{
        flex-direction: column-reverse;
    }
    .servicio-info{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .servicio-info h3{
        margin-bottom: 30px;
    }
    .servicio-3{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .servicio-box{
        width: 150px;
    }
    .servicio-box img{
        width: 40px;
    }

    /*PASOS*/
    .pasos{
        width: 100%;
        padding: 50px 0;
    }
    .paso{
        margin-top: 40px;
    }
    .portafolio-card img {
        width: 305px;
        height: 149px;
        object-fit: cover;
    }

    .portafolio-titulo {
        margin-right: 10%;
        margin-bottom: 50px;
        text-align: center;
        margin-top: -240px !important;
  }
  /* swiper */
  .mySwiper{
    display: none;
  }
  .swiper2{
    display: flex;
    height: 55vh;
  }
  .swiper-rtl{
    display: none;
  }
  
  .swiper-button-next{
    display: none !important;

  }
  .swiper-button-prev{
    display: none !important;
  }
  .card{
    width: 350px;
  }

   /* PORTAFOLIO */
   .portafolio{
    width: 100%;
    margin-top: 200px;
}

    /*equipo*/
    .container-equipo {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

  .equipo-info{
    text-align: center;
    width: 90%;
    margin-bottom: 50px;
  }

   /*portafoio*/
   .portafolio-card{
    margin-top: 70px;
    width: 350px;
   }

  .portafolio-card img{
    width: inherit;
    height: auto;
  }
  .container-contacto{
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

  .contacto-info{
    text-align: center;
    margin: auto;
    align-items: center;
}

.contacto-img{
    margin-top: 40px;
    width: 100%;
    height: 300px;
}
/*equipo*/
.equipo-info{
    margin-top: 20px;
}
.equipo-info p{
    padding: 20px;
}

footer{
    text-align: center;
}
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
 /*PROYECTOS*/
 .proyecto-container{
    width: 100%;
    margin-top: 370px;
 }
.proyecto{
    margin-bottom: 50px;
    padding: 10px 0;
    width: 100%;
}
.proyecto-cesar{
    background-image: none;
}
.proyecto-daniela{
    background-image: none;
}
.proyecto-podi{
    display: none;
}
.fondo{
    background-color: #F6F6F6;
}

 .proyecto-titulo{
    margin-top: 100px;
 }
 .proyecto-titulo h3{
    text-align: center;
 }
 .proyecto-section{
    background-image: none;

 }
 .img-fondo{
  background-image: url(./assets/img/Aquí\ y\ ahora.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 300px;
 }
.img-fondo-daniela{
  background-image: url(./assets/img/DS\ 8.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 300px;
}

.img-fondo-podi{
    background-image: url(./assets/img/PODI.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

.img-gallery-daniela-flex{
   flex-direction: column;
}
 .proyecto-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
 }

 .proyecto-50{
    width: 100%;
 }
 .proyecto-info{
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    margin-top: -400px;
 }

 .proyecto-img img{
    width: 300px;
 }

 .proyecto-icon{
    margin-bottom: 20px;
 }


 .proyecto-video-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;

 }

.proyecto-video{
    margin-top: 40px;
}

.proyecto-imgs{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

.proyecto-imgs img{
    width: 100%;
    margin-bottom: 10px;
    margin: auto;
}

.img-gallery{
    width: 100%;
}

.img-gallery img{
    width: 100%;
    margin: 20px 0;
}


 .proyecto-video-container{
    width: 100%;
 }
 .proyecto-video iframe{
    width: 100%;
 }

 .proyecto-video-mobile{
    display: block;
}

.proyecto-video{
    display: none;
}
/*PODI*/
.img-gallery-podi-flex{
    width: 100%;
}
.podi-brochures-flex{
    width: 100%;
}

.img-gallery-podi-flex img {
    width: 80%;
}
.podi-brochures{
flex-direction: column;
align-items: center;
justify-content: center;
height: 50vh;
min-width: 200px;
width: 100%;
}

.brochure-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.brochure-img img{
    width: 100%;
    margin: 0;

}
.brochure-button {
width: 100%;
}

.proyecto-priscila{
    width: 100%;
}
.proyecto-priscila2 {
    width: 100%;
    
}

/*contacto*/
.container-contacto{
    height: auto;
    padding-top: 30px;
}
.contacto-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.contacto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2%;
    width: 100%;
}

.contacto-info p{
    padding: 20px;
}

.contacto-video{
    position: relative;
    width: 100%;
    min-height: 30vh;
}


.contacto-video video{
    position: absolute;
    top:0 ;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}