@font-face {
    font-family: cocoLight;
    src: url(assets/fonts/CocogooseClassic-Light.otf);
}
@font-face {
    font-family: cocoExtra;
    src: url(assets/fonts/CocogooseClassic-ExtraBold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: cocoLight;
    font-weight: 100;

}

/* GENERALES */
.callToAction{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px ;
    font-weight: 900;
    background-color: rgb(181, 212, 59);
    color: #fff;
    cursor: pointer;
}

.callToAction2{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: solid 2px white;
    font-size: 16px ;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}

.titulo{
    font-size: 16px;
    color: #989898;
    margin-bottom: 30px;
    font-weight: 800;
}

p{
    font-family: Roboto;
    font-weight: 300;
}
/* HEADER */
header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #F6F6F6;
    top: 0;
    right: 0;
}

.container-header{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px 20px;

}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 120px;
}

nav{
    height:100%;
    
}
.container-nav{
    position: relative;
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-left: 20px;
    color: black;
    list-style-type: none;
    font-size: 12px;
    
}

nav ul li a{
    color: black;
    font-weight: 900;
    letter-spacing: 2px;
}

.navIg{
    width: 20px;
    margin-left: 20px;
}

.nav-btn{
    display: none;
}
.nav-logo-mobile{
    display: none;
}

/* PORTADA */

.container-info{
    background-image:url(assets/img/Clmedia.webp);
    height: 600px;
    margin-top: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    max-width: 350px;
    color: #fff;
    margin-left: 10%;

}

.info h1{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}

.info h1 span{
    font-family: cocoExtra;
}

.info p{
    margin-bottom: 25px;
}

.info .callToAction2{
    margin-left: 20px;
}

/* SERVICIOS */

.container-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 110px auto;
    width: 100%;
}

.container-servicios h3{
    font-size: 50px;
    margin-bottom: 30px;
}
.container-servicios h3 span{
    font-family: cocoExtra;
    font-weight: 700;
    color: #6B8801; 
}

.servicio-info{
    max-width: 300px;
}
.servicio-info p{
    margin-bottom: 30px;
}
.servicios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
.servicio-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servicio-box{
    width: 130px;
    height: 130px;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.servicio-box img {
    width: 50px;
    margin-bottom: 20px;
}

.servicio-box h2 {
    font-size: 16px;
    text-align: center;
    color:#989898 ;
    font-weight: 900;
}

/* PASOS */
.pasos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E2E2E2;
    min-height: 300px;
}

.paso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;
}

.paso img{
    margin-bottom: 20px;
}
.paso p{
    font-weight: 400;

}
.paso h2{
    font-family:cocoExtra ;
}
.paso h3{
    font-size: 16px;
    font-weight: 800;
}

/* PORTAFOLIO */
.container-portafolio{
    margin: 110px 0;
}
.portafolio-titulo{
    margin-left: 10%;
    margin-bottom: 50px;
}
.portafolio-titulo h3{
   font-size: 50px;
}
.portafolio-titulo span{
    font-family: cocoExtra;
    font-weight: 700;
    color:#6B8801; 
}

.portafolio-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #5D6E1E;

}

.portafolio-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #989898;
    margin: 30px 0;
}

.portafolio-card img{
    width: 400px;
    height: 200px;
    object-fit: cover;
}

/* EQUIPO*/
.container-equipo{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap:wrap ;
    width: 100%;
    margin: 100px 0;
}

.equipo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
    width: 50%;
}

.equipo-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
    padding: 20px;

}
.equipo-img{
    width: 200px;
    box-shadow: 0px 20px 24px -4px rgba(15, 30, 4, 0.08), 0px 8px 8px -4px rgba(16, 40, 17, 0.03);
    border-radius: 95px;   
}

.equipo-box h2{
    font-size: 16px ;
    font-weight: 900;
    color: #5D6E1E;
    margin-top: 20px;
}
.equipo-box h4{
    color: #989898;
}
.equipo-icons{
    margin-top: 25px; 
}
.equipo-icon{
    width: 25px;  
}


.equipo-info{
    width: 40%;
    max-width: 400px;
    margin-top: 50px;
    min-width: 300px
}
.equipo-info p{
    margin-bottom: 30px;
}
.equipo-info h3{
    font-size: 50px;
    margin-bottom: 30px;
}

.equipo-info span{
    font-family: cocoExtra;
    font-weight: 300;
    color: #6B8801; 
}

/*CONTACTO*/
.container-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height:600px;
}

.container-contacto h3{
    font-size: 50px;
}

.contacto-img{
    width: 50%;
    
    background-image: url(assets/img/cesar-contacto\ 1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto-info{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.contacto-info h3{
    margin-bottom: 30px;
}

.contacto-info h3 span{
    font-family: cocoExtra;
    color: #6B8801;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    background-color: #333333;
    color: #E2E2E2;
    font-size: 18px;
    line-height: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-weight: 900;
}

footer h4{
    color: #6B8801;
}
.footer-info{
    margin: 20px;
}
.copy{
    text-align: center;
    height: 25px;
    padding-bottom: 20px;
    color: #E2E2E2;
    background-color: #333333;
}

@media only screen and (max-width: 768px) {
    .container-header{
        justify-content: space-between;
    }
    .logo img{
        width: 120px;
    }
    nav{
      position: fixed;
      top: 0;
      right: -265px;
      background-color: #E2E2E2;
      width: 250px;
      height: 100vh;
      padding: 40px;
      z-index: 1;
      transition: all 300ms;
    }

    nav ul {
        flex-direction: column;
        font-size: large;
        align-items: flex-start;
        width: 100%;
        justify-content: flex-start;
        margin-top: 50px;
    }
    .navIg{
        margin-left: 0;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul a{
        margin-left: 0;
        font-weight: 900;
    }
    .nav-btn{
        display: flex;
        border: 2px;
        justify-content: center;
        align-items: center;
    }
    .nav-btn img{
        width: 35px;
    }

    .nav-logo-mobile{
        display: block;
        width: 100px;
    }
    .info{
        text-align: center;
        margin:auto;
    }

    #black-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    /*servicio*/
    .servicios{
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .container-servicios{
        flex-direction: column-reverse;
    }
    .servicio-info{
        text-align: center;
    }
    .servicio-info h3{
        margin-bottom: 30px;
    }
    .servicio-3{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .servicio-box{
        width: 110px;
    }
    .servicio-box img{
        width: 40px;
    }
    /*equipo*/
    .container-equipo {
        flex-direction: column-reverse;
        align-items: center;
    }

    .equipo-info{
        margin-bottom: 50px;
    }
    .pasos{
        padding: 50px 0;
    }
    .portafolio-card img {
        width: 305px;
        height: 149px;
        object-fit: cover;
    }

    .portafolio-titulo {
        margin-right: 10%;
        margin-bottom: 50px;
        text-align: center;
  }

  .equipo-info{
    text-align: center;
  }

  .container-contacto{
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #E2E2E2;
}

  .contacto-info{
    text-align: center;
    margin: auto;
    align-items: center;
}

.contacto-img{
    display: none;
}
footer{
    text-align: center;
}


}